* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px auto auto 60px;
    grid-template-areas: "hd hd"
        "main sidebar"
        "sec sec"
        "footer footer";
}

li,
a,
button {
    font-size: 16px;
    color: #b2afac;
    text-decoration: none;
}

/* main,
footer {
    text-align: center;
} */

header {
    display: flex;
    align-items: center;
    padding: 5px 10%;
    background-color: #42413d;
    grid-area: hd;
    font-size: 10px;
}

header .combat {
    color: #ffce2b;
    font-size: 2em;
    text-transform: uppercase;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 100px;
}

.nav_links {
    list-style: none;
    font-weight: 500;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.nav_links li a:hover {
    color: #252525;
    background-color: #959492;
    transition: all 0.3s ease;
}

.nav_links li a.active {
    background-color: #ffce2b;
    transition: 0.5s;
    color: #252525;
}

.nav_links li a.active:hover {
    color: #252525;
    background-color: #ffce2b;
}

/* button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color:#252525;
    opacity: 1;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #959492;
    // transform: rotate(45deg); //
    opacity: 0.8;
    color: #252525 ;
}
 */
img {
    border-radius: 5px;
}

aside {
    background: #ffce2b;
    grid-area: sidebar;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-side {
    width: 70%;
}

.wrap-side .title {
    text-align: center;
    font-size: 24px;
    margin: 10px auto 10px auto;
    color: #31302d;
    font-weight: 700;
}

.wrap-side .form {
    width: 100%;
    padding: 0px 20px;
}

.wrap-side .form .input_filde {
    margin-bottom: 15px;
    /* display: flex; */
    /* align-items: center; */
}

.wrap-side .form .input_filde label {
    width: 150px;
    color: #31302d;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.wrap-side .form .input_filde .input,
.wrap-side .form .input_filde .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #63605b;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-weight: 400;
}

.wrap-side .form .input_filde .textarea {
    resize: none;
    height: 80px;
}

.wrap-side .form .input_filde .custom_select {
    position: relative;
    width: 100%;
    height: 35px;
}

.wrap-side .form .input_filde .custom_select select {
    border: 1px solid #63605b;
    border-radius: 3px;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 3px 5px;
    border-radius: 3px;
    outline: none;
}

.wrap-side .form .input_filde .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #959492 transparent transparent transparent;
    pointer-events: none;
}

.wrap-side .form .input_filde .input:focus,
.wrap-side .form .input_filde .textarea:focus,
.wrap-side .form .input_filde select:focus {
    border: 1px solid #ffce2b;
}

.terms {
    display: flex;
    flex-wrap: wrap;
}

.terms p {
    font-size: 12px;
}
.wrap-side .form .input_filde .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrap-side .form .input_filde .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrap-side .form .input_filde .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #63605b;
    position: relative;
    display: block;
    position: relative;
    background-color: #fff;
}

.wrap-side .form .input_filde .check .checkmark::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrap-side .form .input_filde .check input[type="checkbox"]:checked~.checkmark {
    background-color: #63605b;
    border: 1px solid;
}

.wrap-side .form .input_filde .check input[type="checkbox"]:checked~.checkmark::before {
    display: block;
}

.wrap-side .form .input_filde .btn_Reg {
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
    border: 0px;
    background-color: #fccb2d;
    color: #333333;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 1px #31302d;
    outline: none;
}

.wrap-side .form .input_filde .btn_Reg:hover {
    box-shadow: 0px 0px 10px 3px #31302d;
    background-color: #fdc50b;
}

main {
    grid-area: main;
    text-align: center;
}

.shop-title {
    margin-top: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.hr-title {
    border: 2px solid #31302d;
    opacity: 0.5;
}

#product_div #product_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin: 20px; */
    grid-gap: 5px;
}

span p {
    margin-bottom: 10px;
}

#product_div #product_item input {
    width: 60px;
    border: 1px solid #42413d;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#product_div #product_item input[type=number] {
    cursor: pointer;
    border: 0px;
    border-bottom: 2px solid #42413d;
}

#product_div #product_item .product_item_solo {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    
}

#product_div #product_item .product_item_solo h3 {
    font-size: 14px;
    line-height: 1.3;
    /* display:inline; */
    
}
#product_div #product_item .product_item_solo span p {
    font-size: 14px;
    line-height: 1.3;
    display: inline-grid;
    vertical-align: middle;
    text-align: center;
}

#product_div #product_item .product_item_solo span p b{
    font-size: 16px;
}

#product_div #product_item .product_item_solo img {
    position: relative;
    width: 100%;
    transform: scale(0.7);
    transition: 0.3s all ease;
}

#product_div #product_item .product_item_solo img:hover {
    transform: scale(1);
}

#product_div #product_item .product_item_solo .btn {
    height: 3em;
    width: 70%;
    border: none;
    background: #959492;
    font-weight: 400;
    outline: none;
    color: #252525;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 10px;
}

#product_div #product_item .product_item_solo .btn:hover {
    color: #afafae;
    background-color: #252525;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px 1px #252525;
    font-weight: 700;
}

.index-news {
    grid-area: sec;
    width: 100%;
    padding: 40px 20px;
    background-color: #42413d;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px 0px 20px #000;
    flex-flow: wrap;
}

.index-news article {
    width: 23%;
    transition: 0.5s all ease;
    /* margin: 10px; */
    /* border: 2px solid #afafae; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 15px 8px -10px #252525;
    transform: scale(0.7);
    transition: 0.5s all ease;
    cursor: pointer;
}

.index-news article:hover {
    transform: scale(1);
    transition: 0.5s all ease;
}

.news-img {
    width: 100%;
    height: auto;
    text-align: center;
}

.index-news h3 {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #b2afac;
}

.index-news p {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: justify;
    padding-bottom: 5px;
    color: #959492;
}

footer {
    background: black;
    grid-area: footer;
    text-align: center;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li.nav-items-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .nav-items-footer a:hover {
    color: white;
    cursor: pointer;
}

.bull {
    font-size: 30px;
    padding: 0px 7px;
}